:root {
  --accent-color: #F06000;
  /* --accent-color: #E51400; */
  font-family: 'Segoe UI', 'Segoe WP', -apple-system, BlinkMacSystemFont, sans-serif;
  color: #f1f1ed;
  background-image: url('/midia/imagens/annie-spratt-7CME6Wlgrdk-unsplash.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  touch-action: manipulation;
  overscroll-behavior: none;
}

body {
  min-height: 100svh;
  background-image: inherit;
  background-position: inherit;
  background-attachment: inherit;
  background-size: inherit;
}

button {
  font: inherit;
}
